@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-Black.eot');
  src: url('../fonts/Garnett-Black?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-Black.woff2') format('woff2'),
      url('../fonts/Garnett-Black.woff') format('woff'),
      url('../fonts/Garnett-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-BlackItalic.eot');
  src: url('../fonts/Garnett-BlackItalic?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-BlackItalic.woff2') format('woff2'),
      url('../fonts/Garnett-BlackItalic.woff') format('woff'),
      url('../fonts/Garnett-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-Bold.eot');
  src: url('../fonts/Garnett-Bold?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-Bold.woff2') format('woff2'),
      url('../fonts/Garnett-Bold.woff') format('woff'),
      url('../fonts/Garnett-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-BoldItalic.eot');
  src: url('../fonts/Garnett-BoldItalic?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-BoldItalic.woff2') format('woff2'),
      url('../fonts/Garnett-BoldItalic.woff') format('woff'),
      url('../fonts/Garnett-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-Light.eot');
  src: url('../fonts/Garnett-Light?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-Light.woff2') format('woff2'),
      url('../fonts/Garnett-Light.woff') format('woff'),
      url('../fonts/Garnett-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-LightItalic.eot');
  src: url('../fonts/Garnett-LightItalic?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-LightItalic.woff2') format('woff2'),
      url('../fonts/Garnett-LightItalic.woff') format('woff'),
      url('../fonts/Garnett-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-Medium.eot');
  src: url('../fonts/Garnett-Medium?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-Medium.woff2') format('woff2'),
      url('../fonts/Garnett-Medium.woff') format('woff'),
      url('../fonts/Garnett-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-MediumItalic.eot');
  src: url('../fonts/Garnett-MediumItalic?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-MediumItalic.woff2') format('woff2'),
      url('../fonts/Garnett-MediumItalic.woff') format('woff'),
      url('../fonts/Garnett-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-Regular.eot');
  src: url('../fonts/Garnett-Regular?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-Regular.woff2') format('woff2'),
      url('../fonts/Garnett-Regular.woff') format('woff'),
      url('../fonts/Garnett-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-RegularItalic.eot');
  src: url('../fonts/Garnett-RegularItalic?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-RegularItalic.woff2') format('woff2'),
      url('../fonts/Garnett-RegularItalic.woff') format('woff'),
      url('../fonts/Garnett-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-Semibold.eot');
  src: url('../fonts/Garnett-Semibold?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-Semibold.woff2') format('woff2'),
      url('../fonts/Garnett-Semibold.woff') format('woff'),
      url('../fonts/Garnett-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-SemiboldItalic.eot');
  src: url('../fonts/Garnett-SemiboldItalic?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-SemiboldItalic.woff2') format('woff2'),
      url('../fonts/Garnett-SemiboldItalic.woff') format('woff'),
      url('../fonts/Garnett-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-Semibold.eot');
  src: url('../fonts/Garnett-Semibold?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-Semibold.woff2') format('woff2'),
      url('../fonts/Garnett-Semibold.woff') format('woff'),
      url('../fonts/Garnett-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-SemiboldItalic.eot');
  src: url('../fonts/Garnett-SemiboldItalic?#iefix') format('embedded-opentype'),
      url('../fonts/Garnett-SemiboldItalic.woff2') format('woff2'),
      url('../fonts/Garnett-SemiboldItalic.woff') format('woff'),
      url('../fonts/Garnett-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Manofa';
  src: url('../fonts/Manofa-Regular.eot');
  src: url('../fonts/Manofa-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Manofa-Regular.woff2') format('woff2'),
      url('../fonts/Manofa-Regular.woff') format('woff'),
      url('../fonts/Manofa-Regular.ttf') format('truetype'),
      url('../fonts/Manofa-Regular.svg#Manofa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

