{% assign pageUrl = page.path | split: "/" %}
<footer class="animate__animated animate__fadeIn">
  {% if page.layout != 'index' %}
  <div class="container mx-auto">
    <div class="flex items-center justify-end text-xs py-6 mt-10">
      <a target="_blank" href="/pdf/LK Hospitality Privacy Policy.pdf" class="">
        Privacy Policy
        <div class="underline-animation"></div>
      </a>
    </div>
  </div>
  {% endif %}
  
</footer>
<!-- Javascript -->
<script src="/js/scrollreveal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script src="/js/main.js" type="module"></script>
</body>

</html>