<section id="loading-screen" class="h-screen w-full">
  <div class="w-full h-full flex flex-col relative">
    <!-- logo -->
    <div class="z-101 custom-center">
      <div class="w-64">
        <img src="/img/logo.svg" width="70" alt="menu" class="select-none animate__animated animate__fadeIn">
      </div>
    </div>
    <!-- Tea bar section -->
    <a href="/?a=hidden" class="h-1/2 ">
      <div id="teaBar" class="h-full flex items-center justify-center relative">
        <div class="custom-center flex flex-col items-center justify-center">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.6" stroke="white" class="w-12 h-12">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75L12 3m0 0l3.75 3.75M12 3v18" />
            </svg>          
          </div>
          <div class="p-8">
            TEA BAR
          </div>
        </div>
      </div>
    </a>
    <!-- Dining section -->
    <a href="https://restaurant-lime-xi.vercel.app/?a=hidden" class="h-1/2">
      <div id="dining" class="h-full flex items-center justify-center cursor-pointer relative">
        <div class="custom-center flex flex-col items-center justify-center">
          <div class="p-8">
            DINING
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.6" stroke="white" class="w-12 h-12">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3" />
            </svg>          
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
<script>

  // remove animation if clicked on home link in nav
  (function() {
  if(window.location.search === '?a=hidden' && document.getElementById('loading-screen'))
   document.getElementById('loading-screen').remove()
  })()
</script>
