{% assign url = page.url | remove:'index.html' %}
<header class="fixed top-0 left-0 w-full z-20 pt-4">
  <div class="container mx-auto py-6 flex flex-row-reverse sm:flex-row justify-between items-center">
    <!-- logo -->
    <div class="header-logo">
      <a href="/">
        <img src="/img/logo.svg" width="70" alt="menu">
      </a>
    </div>
    <div id="headerNav" class="hidden sm:flex justify-between items-center" style="min-width: 800px;">
      <a href="/about" class="header-nav-link">
        About
        <div class="underline-animation"></div>
      </a>
      <a href="/menu" class="header-nav-link">
        Menu
        <div class="underline-animation"></div>
      </a>
      <a href="https://yugenteabar.com.au/pages/shop" target="_blank" class="header-nav-link">
        Online store
        <div class="underline-animation"></div>
      </a>
      <a href="/news" class="header-nav-link">
        News & Events
        <div class="underline-animation"></div>
      </a>
      <a href="https://yugen.vouchercart.com/app/" class="header-nav-link" target="_blank">
        gift vouchers
        <div class="underline-animation"></div>
      </a>
    </div>
    <div>
      <div class="flex items-center">
        <!-- Book now btn -->
        <div class="hidden sm:block mr-20">
          <a href="https://www.opentable.com.au/restref/client/?restref=158744&lang=en-AU&ot_source=Restaurant%20website&corrid=8edbade4-ea84-4e05-8fb8-4d552deb61cb"
            class="book-now">
            Book now
          </a>
        </div>
        <!-- open/close navigation -->
        <div class="open-navigation-btn cursor-pointer w-20 flex items-center justify-center">
          <span id="closeNavBtn" class="hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-12 h-12">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m-15 0l15 15" />
            </svg>
          </span>
          <img id="menuBtn" src="/img/menu.svg" width="175" alt="yugen logo">
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="navBg" class="fixed top-0 right-0 bottom-0 left-0 z-10 hidden">
  <div id="navigation" class="absolute right-0 w-full min-h-screen">
    <div class="container mx-auto h-screen flex justify-end sm:justify-between 
        items-end sm:items-center sm:items-stretch py-8 sm:pt-24 sm:pb-16">
      <!-- 3 yugen vectors -->
      <div class="text-xl w-1/2 hidden sm:flex self-end">
        <div class="flex flex-col justify-end items-end mr-6">
          <img src="/img/nav-horizontal-vector.svg" alt="yugen horizontal" class="mb-6 select-none text-red-500">
          <img src="/img/nav-circle-vector.svg" alt="yugen circle" class="w-40 -mr-6 select-none">
        </div>
        <div class="pb-28">
          <img src="/img/nav-vertical-vector.svg" alt="yugen vertical" class="select-none">
        </div>
      </div>

      <!-- navigation -->
      <div class="mb-8 sm:mb-0 sm:mr-16 flex flex-col sm:justify-end text-right">
        <a href="/about" class="nav-link">
          About Yugen Tea Bar
        </a>
        <a href="/menu" class="nav-link">
          Menu
        </a>
        <a href="https://yugenteabar.com.au/pages/shop" class="nav-link" target="_blank">
          Online shop
        </a>
        <a href="https://yugen.vouchercart.com/app/" class="nav-link" target="_blank">
          gift vouchers
        </a>
        <a href="/gallery" class="nav-link">
          Gallery
        </a>
        <a href="/learn" class="nav-link">
          Learn
        </a>
        <a href="/news" class="nav-link">
          Events & News
        </a>
        <a href="/contact" class="nav-link">
          Newsletter
        </a>
        <a href="/contact" class="nav-link">
          Contact
        </a>
        <a href="/terms" class="nav-link">
          Terms & conditions
        </a>
      </div>
    </div>
  </div>
</nav>