{% assign current_page = 'about' %}
{% assign page_title = 'About us' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="container mx-auto pt-32 pb-8 min-h-screen flex flex-col md:flex-row justify-between">
  <div class="left-image-section md:w-45per md:custom-section-height overflow-hidden">
    <div class="w-full h-full animate__animated animate__fadeIn" style="background-image: url('{{ page.main_image }}')" title="{{ page.title }}-1">
      <img class="hidden" src="{{ page.main_image }}" alt="{{ page.title }}">
    </div>
  </div>
  <div class="md:w-45per md:custom-section-height md:overflow-y-scroll pb-16 md:pb-0">
    <div class="pt-12 md:px-8">
      <h1 class="page-title animate__animated animate__fadeInUp">
        {{ page.title }}
      </h1>
      <h2 class="page-subtitle mt-8 animate__animated animate__fadeInUp">
        {{ page.subtitle }}
      </h2>
      <div class="text mt-10 md:mt-16 animate__animated animate__fadeInUp">
        {{ page.text | markdownify}}
      </div>
      <div class="text-end mt-20 text-center animate__animated animate__fadeInUp animate__delay-1s">
        {{ page.quote_text }} <br>
        - {{ page.quote_by }}
      </div>
    </div>
  </div>
</main>

{% include footer.html %}