{% assign current_page = 'contact' %}
{% assign page_title = 'Contact' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="container mx-auto sm:pt-40 sm:pb-28 flex items-center justify-between">
  <div class="w-1/2 sm:pr-32">
    <h1 class="page-title mb-16">Contact us</h1>

    <!-- contact info -->
    <div class="contact-info">
      <div class="flex items-center py-1">
        <div class="contact-label pr-4">
          Phone:
        </div>
        <div class="contact-value">
          <a href="tel:0380808080">
            03 8080 8080
            <div class="underline-animation"></div>
          </a>
        </div>
      </div>
      <div class="flex items-center py-1">
        <div class="contact-label pr-4">
          EMAIL:
        </div>
        <div class="contact-value">
          <a href="mailto:info@yugen.com.au">
            info@yugen.com.au
            <div class="underline-animation"></div>
          </a>
        </div>
      </div>
      <div class="py-1">
        <div class="contact-label">
          ADDRESS:
        </div>
        <div class="contact-value flex flex-col">
          <a href="https://www.google.com/maps/place/Omnia+Bistro+And+Restaurant+South+Yarra/@-37.8389116,144.9953926,15z/data=!4m5!3m4!1s0x0:0x8354098583c6a976!8m2!3d-37.8389116!4d144.9953926"
            target="_blank">
            605 Chapel Street
            <br>
            South Yarra, VIC 3141
            <br>
            (Cnr Chapel St & Toorak Rd)
          </a>
        </div>
      </div>
    </div>

    <!-- subscribe -->
    <div class="mt-20">
      <h2 class="subscribe-title">
        Subscribe to Our Newsletter
      </h2>
      <p class="subscribe-text">
        We send occasional emails with exclusive offers, <br>
        news and events.
      </p>
      <div class="flex mt-10">
        <a href="#"
          class="subscribe-btn">
          Subscribe
        </a>
      </div>
    </div>
  </div>

  <!-- map -->
  <div class="w-1/2 sm:pl-24">
    <div class="contact-map rounded-3xl overflow-hidden">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.9001107194176!2d144.99328921531944!3d-37.839224279747874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad64372cb54f993%3A0x9879c42777bd81a1!2sYugen%20Tea%20Bar!5e0!3m2!1ssr!2srs!4v1662215970142!5m2!1ssr!2srs"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</main>

{% include footer.html %}