{% assign current_page = 'homepage' %}
{% assign page_title = 'Welcome' %}
{% include head.html %}


{% include nav.html %}

{% if page.show_popup %}
<div id="homepage-popup" class="hidden">
  <div class="popup-wrapper">
    <div class="popup-box relative">
      <!-- close popup -->
      <span class="absolute top-0 right-2 text-white cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
          stroke="currentColor" class="w-6 md:w-8 h-6 md:h-8 mx-auto popup-close-button">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m-15 0l15 15" />
        </svg>
      </span>

      <!-- title -->
      <div class="popup-title mb-16 animate__animated animate__fadeInUp">
        {{ page.popup_title }}
      </div>

      <!-- content -->
      <div class="popup-content animate__animated animate__fadeInUp animate__delay-1s">
        {{ page.popup_text | markdownify }}
      </div>

      <!-- button -->
      <div class="popup-btn mt-20 flex items-center justify-center animate__animated animate__fadeInUp animate__delay-2s">
        <a href="{{page.popup_button_link}}" target="_blank" class="popup-btn">
          {{ page.popup_button_text }}
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}


<main class="cover-image">
  <div class="enter-site animate__animated animate__fadeInUp">
    <a href="/about">
      Enter Site
    </a>
    <img src="/img/logo.svg" width="150" alt="logo" class="sm:hidden mt-16 animate__animated animate__fadeIn">
  </div>
</main>

{% include footer.html %}