{% assign current_page = 'menu' %}
{% assign page_title = 'Menu' %}

{% include head.html %}

{% include nav.html %}


<main class="container mx-auto pt-32 pb-8">
  <section class="flex flex-col-reverse sm:flex-row justify-between items-center mb-8">
    <div class="md:w-45per sm:pr-8 mt-10 md:mt-0">
      <h2 class="title animate__animated animate__fadeInUp">Day Offering</h2>
      <div class="text mt-12 animate__animated animate__fadeInUp">
        <p>
          Yugen's afternoon high tea is inspired by the classic English afternoon tea, with some bold twists and turns.
          Let our tea sommeliers and pastry artists craft a Yugen moment for you to remember.
        </p>
        <p>
          Each service is comprised of two acts - one savoury (think dainty sandwiches and seasonal bites), and one
          sweet (pastries and scones with condiments), served with a carefully matched infusion, brewed and poured at
          your table.
        </p>
        <p>
          To enhance your experience, we offer a selection of alcohol-free beverages, cocktails and Champagne.
          Refined yet relaxed, the moment is yours to create.
        </p>
      </div>
      <div class="mt-10 flex text-link animate__animated animate__fadeInUp animate__delay-1s">
        <a href="#" class="uppercase">
          Day Menu
          <div class="underline-animation"></div>
        </a>
      </div>
    </div>
    <div class="w-full md:w-45per sm:pl-8 relative">
      <a href="#" class="uppercase">
        <div class="menu-section-image image-border-radius relative">
          <img src="/img/afternoon-tea.jpeg" alt="Day offering" class="absolute -z-1">
          <div class="sm:w-auto absolute bottom-6 sm:bottom-10 left-28 sm:left-12 menu-section-image-text animate__animated animate__fadeInUp animate__delay-1s">
            Day Menu
            <div class="underline-animation"></div>
          </div>
        </div>
      </a>
    </div>
  </section>


  <!-- next section -->
  <section class="flex flex-col-reverse sm:flex-row justify-between items-center mb-12 mt-20 md:mt-0">
    <div class="md:w-45per sm:pr-8 mt-10 md:mt-0">
      <h2 class="title animate__animated animate__fadeInUp">Yugen After Dark</h2>
      <div class="text mt-12 animate__animated animate__fadeInUp">
        <p>
          Tea Inspired cocktails, fine sakes, and elegantly plated desserts. Yugen Tea Bar continues to offer unique
          experiences long after the sun goes down.
        </p>
        <p>
          Enjoy an experience where mixology, sake, tea and patisserie are brought together in an interplay of flavour,
          texture and exploration.
        </p>
        <p>
          Come for a full-blown dessert degustation or drop by after dinner at your favourite restaurant for a drink.
        </p>
        <p>
          Yugen Tea Bar is the perfect end or change-up for any night.
        </p>
      </div>
      <div class="mt-10 flex text-link animate__animated animate__fadeInUp animate__delay-2s">
        <a href="#" class="uppercase">
          AFTER DARK MENU
          <div class="underline-animation"></div>
        </a>
      </div>
    </div>
    <div class="w-full md:w-45per sm:pl-8">
      <a href="#" class="uppercase">
        <div class="menu-section-image image-border-radius relative">
          <img src="/img/After Dark Cocktail - Menu Page.jpg" alt="After Dark" class="absolute -z-1">
          <div class="absolute bottom-6 sm:bottom-10 right-16 md:right-12 menu-section-image-text animate__animated animate__fadeInUp animate__delay-2s">
            AFTER DARK MENU
            <div class="underline-animation"></div>
          </div>
        </div>
      </a>
    </div>
  </section>
</main>

{% include footer.html %}