{% assign current_page = 'menu' %}
{% assign page_title = 'Menu' %}

{% include head.html %}

{% include nav.html %}


<main class="container mx-auto pt-40 pb-8">
  {% for menu in page.menu_sections %}
  <section class="flex flex-col-reverse sm:flex-row justify-between items-center mb-8">
    <div class="md:w-45per sm:pr-8 mt-10 md:mt-0">
      <h2 class="title animate__animated animate__fadeInUp"> {{ menu.section_title }} </h2>
      <div class="text mt-12 animate__animated animate__fadeInUp">
        {{ menu.section_text | markdownify }}
      </div>
      <div class="mt-10 flex text-link animate__animated animate__fadeInUp animate__delay-1s">
        <a target="_blank" href="{{ menu.section_menu_url }}" class="uppercase">
          {{ menu.section_button_text }}
          <div class="underline-animation"></div>
        </a>
      </div>
    </div>
    <div class="w-full md:w-45per sm:pl-8 relative">
      <div class="menu-section-image image-border-radius relative">
        <img src="{{ menu.section_image }}" alt="Day offering" class="absolute -z-1">
      </div>
    </div>
  </section>
  {% endfor %}
</main>

{% include footer.html %}